{% extends 'layouts/app.twig' %}

{% block title %}Berserkers | Whois Results{% endblock %}

{% block content %}
    <div class="row float-input align-items-center justify-content-center">

        {% include 'partials/flash.twig' %}

        <div class="col col-lg-8 col-md-10 col-sm-12">

        </div>
    </div>
{% endblock %}