{% extends 'layouts/app.twig' %}

{% block title %}Berserkers | Home{% endblock %}

{% block content %}
    <div class="row">
        <form action="{{  path_for('post.results') }}">
            {{  csrf_field() | raw }}
            <input type="text" title="DNS Lookup" required>
        </form>
    </div>
{% endblock %}