{% extends 'layouts/app.twig' %}

{% block title %}Berserkers | Home{% endblock %}

{% block content %}
<div class="row body align-items-center justify-content-center">

    {% include 'partials/flash.twig' %}

    <div class="col col-lg-6 col-md-10 col-sm-12">
        <fieldset class="fieldset dns-search">
            <legend>Welcome {{ clientIp() | raw }}</legend>
            <form action="{{  path_for('post.results') }}" method="post" accept-charset="UTF-8">
                {{  csrf_field() | raw }}
                <div class="form-group row">
                    <input
                        name="search"
                        class="form-control form-control-lg seamless-input bg-dark"
                        type="text"
                        title="DNS Lookup"
                        placeholder="domain or ip"
                        minlength="6"
                        maxlength="60"
                        required
                        value="{{ old.search }}"
                    >
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}