{% if flash.getMessage('errors') %}
    <div class="col-lg-6 col-md-10 col-sm-12 alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            {% for error in flash.getMessage('errors').0 %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-100 d-none d-md-block"></div>
{% endif %}

{% if flash.getMessage('success') %}
    <div class="col-lg-6 col-md-10 col-sm-12 alert alert-success  alert-dismissible fade show" role="alert">
        {{ flash.getMessage('success').0 }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="w-100 d-none d-md-block"></div>
{% endif %}