/* General */
body {
    height: 100vh;
}

div.body {
    margin: 25% 0 0 0;
    padding: 0;
}

div.page-content {
    height: 100vh;
    position: relative;
}

/* Navigation */
nav.navbar {
    border-bottom: 1px solid rgba(51, 153, 153, 0.4);
    width: 100%;
}

.navbar-brand {
    color: rgba(204,204,204,.8);
    text-shadow: 0 -1px rgba(0,0,0,.8);
    font-weight: 300;
    padding-bottom: 10px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    border: 1px solid rgba(51, 153, 153, 0.4);
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    color: rgba(255,255,255,.75);
    background: #343a40!important;
}

/* Footer */
div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 0.6rem;
    color: rgba(255,255,255,.5);
}

div.footer a {
    color: teal;
}

/* Form Elements */
fieldset.fieldset {
    padding: 1.5rem 1.25rem;
    margin: 1.125rem 0;
    border: 1px solid #cacaca;
}
fieldset.fieldset legend {
    color: rgba(204,204,204,.8);
    width: initial !important;
    margin: 0 0 0 -0.1875rem;
    padding: 0 0.4875rem;
}
fieldset.fieldset legend span.ip {
    color: #349696;
}
fieldset.dns-search {
    text-align: center;
}
fieldset.dns-search button[type=submit] {
    width: 50%;
    min-width: 150px;
}

input.seamless-input {
    position: relative;
    color: rgba(255,255,255,.5);
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
    outline: none;
    border-radius: 0;
    margin: 0 25px;
    text-align: center;
    transition: all 250ms ease-in;
}
input.seamless-input:active, input.seamless-input:focus {
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid teal;
    outline: none;
    box-shadow: none;
}

/* Alerts */
div.alert-danger ul {
    margin: 0;
}

/* Error Pages */
div.whoops {
    color: #fff;
}
div.whoops-icon {
    float: left;
    font-size: 16rem;
    color: teal;
}
div.whoops-text {
    float: right;
    color: #fff;
    margin-top: 22%;
}
div.whoops-text h4, div.whoops-text p {
    font-weight: 300;
}

/* Bootstrap Overrides */
.btn-primary {
    background: #349696;
    border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: teal;
    border: none;
    box-shadow: none;
}