/* General */
html, body {
    height: 100vh;
}

div.body {
    margin-top: 5%;
    padding-bottom: 80px;
}

div.float-input {
    margin: 25% 0 0 0;
    padding: 0;
}

div.wrapper {
    min-height: 100%;
    position: relative;
}

h5.section-header {
    color: #349696;
    background: #212529;
    margin-bottom: 0;
    padding: 0.25rem .55rem;
    cursor: hand;
    cursor: pointer;
}

.section-expander {
    float: right;
}

/* Navigation */
nav.navbar {
    width: 100%;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.navbar-brand {
    color: rgba(204,204,204,.8);
    text-shadow: 0 -1px rgba(0,0,0,.8);
    font-weight: 300;
    padding-bottom: 10px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}
li.nav-item:first-child {
    margin-left: 2rem;
}
li.nav-item.active {
    position: relative;
}
li.nav-item.active:after {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 2px solid #349696;
}

.dropdown-menu {
    border: 1px solid rgba(51, 153, 153, 0.4);
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    color: rgba(255,255,255,.75);
    background: #343a40!important;
}

/* Footer */
div.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 0.6rem;
    color: rgba(255,255,255,.5);
}

div.footer a {
    color: teal;
}

/* Form Elements */
fieldset.fieldset {
    padding: 1.5rem 1.25rem;
    margin: 1.125rem 0;
    border: 1px solid #cacaca;
}
fieldset.fieldset legend {
    color: rgb(234, 234, 234);
    width: initial !important;
    margin: 0 0 0 -0.1875rem;
    padding: 0 0.4875rem;
    font-weight: 400;
}
fieldset.fieldset legend span.ip {
    color: #349696;
}
fieldset.dns-search {
    text-align: center;
}
fieldset.dns-search button[type=submit] {
    width: 50%;
    min-width: 150px;
}

form div.form-group label {
    color: rgba(234, 234, 234, .85);
}

input.seamless-input {
    color: rgba(255,255,255,.5);
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
    outline: none;
    border-radius: 0;
    margin: 0 25px;
    text-align: center;
    transition: all 250ms ease-in;
}
input.seamless-input:active, input.seamless-input:focus {
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid teal;
    outline: none;
    box-shadow: none;
}

/* Alerts */
div.alert-danger ul {
    margin: 0;
}

/* Error Pages */
div.whoops {
    color: #fff;
}
div.whoops-icon {
    float: left;
    font-size: 16rem;
    color: teal;
}
div.whoops-text {
    float: right;
    color: #fff;
    margin-top: 22%;
}
div.whoops-text h4, div.whoops-text p {
    font-weight: 300;
}

/* Bootstrap Overrides */
.btn-primary {
    background: #349696;
    border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: rgba(255, 255, 255, .7);
    background: teal;
    border: none;
    box-shadow: none;
}

.table td, .table th {
    padding: 0.25rem .55rem;
}

table.table thead tr th {
    color: rgba(255,255,255,.75) !important;
}

table.table tbody tr td {
    color: rgba(255,255,255,.5) !important;
}

div.table-responsive {
    margin-bottom: 15px;
}

tr th.type {
    width: 80px;
}
tr th.class {
    width: 110px;
}
tr th.ttl {
    width: 80px;
}