<!doctype html>
<html lang="en">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark">
    <div class="container wrapper">
        {% include 'partials/header.twig' %}

        {% block content %}{% endblock %}

        {% include 'partials/footer.twig' %}
    </div>
</body>
</html>