<!doctype html>
<html lang="en">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark">
    {% include 'partials/header.twig' %}

    {% include 'partials/flash.twig' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.twig' %}
</body>
</html>