{% extends 'layouts/app.twig' %}

{% block title %}Berserkers | Blacklist{% endblock %}

{% block content %}
    <div class="row align-items-center justify-content-center">

        {% include 'partials/flash.twig' %}

        <div class="col col-lg-8 col-md-10 col-sm-12">
            <div class="search">
                <input type="text" name="dnsbl" class="form-control form-control-lg seamless-input bg-dark" placeholder="enter an ip">
            </div>
            <div class="results">

            </div>
        </div>

        <div class="col col-lg-8 col-md-10 col-sm-12">
            <div id="dnsbl-results">
                {# Results #}
            </div>
        </div>
    </div>
{% endblock %}