{% extends 'layouts/app.twig' %}

{% block title %}Berserkers | Blacklist Results{% endblock %}

{% block content %}
    <div class="row float-input align-items-center justify-content-center">

        {% include 'partials/flash.twig' %}


    </div>
{% endblock %}